@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}


@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.fadeIn-scaleup {
    animation: fadeIn 1s ease-in forwards, scaleUp 1s 2s ease-out forwards;
}

.fadeOut {
    animation: fadeOut 1s 2s ease-out forwards;
}

.fadeIn {
    animation: fadeIn 1s 3s ease-in forwards;
}

@keyframes bounceUp {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.bounce-up {
    animation: bounceUp 1s ease-in-out infinite;
}


.shrinkSection {
    animation: shrinkSection .5s 3s ease-out forwards;
}

.shrunkSection {
    height: 50px;
}

.expandedSection {
    height: 100%;
}

.sectionTransition {
    transition: all .3s linear;
}